@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 15, 15;
  --background-start-rgb: 15, 15, 15;
  --background-end-rgb: 15, 15, 15;
}

body {
  
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  height: 5600px;

  color: aliceblue;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #151515;
}
::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 40px;
}
